
.logo{ 
    display: inline-block;
    color: rgb(224, 183, 0);
    letter-spacing: 3px;
    font-size: 30px;
    margin-left: 20%;
    margin-top: 30px;
}

.navbar{
    
    color: rgb(224, 183, 0);
    display: inline-block;
    background-color: rgb(252, 220, 77);
    width: 100%;
    border-radius: 6px/6px;
    
    
}
    
.navItem :hover{
    color: rgb(0, 0, 0);
    border: solid azure;
    background-color: azure;
}

.navItem
{
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    margin-top: 10%;
}

.navSector
{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
    font-family: 'Oswald',sans-serif;

}

.logoSector
{
    float: left; 
    font-family: 'Oswald',sans-serif;
    text-decoration: none;
}
.contentSection
{
    background-color: rgb(243, 220, 119);
    color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 6px/6px;

}
.textSection
{

    display: block;
    font-size:20px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Oswald',sans-serif;
    
}
.contentsection h1{
    display: block;
    font-size:40px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Oswald',sans-serif;
}
.contentSection .image{
    max-width: 100%;
    min-width: 10%;
    height: auto;
    place-content: center;
}
img.resize{
    height: 37%;
    width: auto;
}